
.icon-ic_apps_white_24dp {
  background-position: -32px -0px;
  width: 32px;
  height: 32px;
}
.icon-ic_arrow_back_white_24dp {
  background-position: -32px -96px;
  width: 32px;
  height: 32px;
}
.icon-ic_arrow_downward_white_24dp {
  background-position: -0px -32px;
  width: 32px;
  height: 32px;
}
.icon-ic_arrow_drop_down_circle_white_24dp {
  background-position: -32px -32px;
  width: 32px;
  height: 32px;
}
.icon-ic_arrow_drop_down_white_24dp {
  background-position: -64px -0px;
  width: 32px;
  height: 32px;
}
.icon-ic_arrow_drop_up_white_24dp {
  background-position: -64px -32px;
  width: 32px;
  height: 32px;
}
.icon-ic_arrow_forward_white_24dp {
  background-position: -0px -64px;
  width: 32px;
  height: 32px;
}
.icon-ic_arrow_upward_white_24dp {
  background-position: -32px -64px;
  width: 32px;
  height: 32px;
}
.icon-ic_cancel_white_24dp {
  background-position: -64px -64px;
  width: 32px;
  height: 32px;
}
.icon-ic_check_white_24dp {
  background-position: -96px -0px;
  width: 32px;
  height: 32px;
}
.icon-ic_chevron_left_white_24dp {
  background-position: -96px -32px;
  width: 32px;
  height: 32px;
}
.icon-ic_chevron_right_white_24dp {
  background-position: -96px -64px;
  width: 32px;
  height: 32px;
}
.icon-ic_close_white_24dp {
  background-position: -0px -96px;
  width: 32px;
  height: 32px;
}
.icon-ic_expand_less_white_24dp {
  background-position: -0px -0px;
  width: 32px;
  height: 32px;
}
.icon-ic_expand_more_white_24dp {
  background-position: -64px -96px;
  width: 32px;
  height: 32px;
}
.icon-ic_first_page_white_24dp {
  background-position: -96px -96px;
  width: 32px;
  height: 32px;
}
.icon-ic_fullscreen_exit_white_24dp {
  background-position: -128px -0px;
  width: 32px;
  height: 32px;
}
.icon-ic_fullscreen_white_24dp {
  background-position: -128px -32px;
  width: 32px;
  height: 32px;
}
.icon-ic_last_page_white_24dp {
  background-position: -128px -64px;
  width: 32px;
  height: 32px;
}
.icon-ic_menu_white_24dp {
  background-position: -128px -96px;
  width: 32px;
  height: 32px;
}
.icon-ic_more_horiz_white_24dp {
  background-position: -0px -128px;
  width: 32px;
  height: 32px;
}
.icon-ic_more_vert_white_24dp {
  background-position: -32px -128px;
  width: 32px;
  height: 32px;
}
.icon-ic_refresh_white_24dp {
  background-position: -64px -128px;
  width: 32px;
  height: 32px;
}
.icon-ic_subdirectory_arrow_left_white_24dp {
  background-position: -96px -128px;
  width: 32px;
  height: 32px;
}
.icon-ic_subdirectory_arrow_right_white_24dp {
  background-position: -128px -128px;
  width: 32px;
  height: 32px;
}
.icon-ic_unfold_less_white_24dp {
  background-position: -160px -0px;
  width: 32px;
  height: 32px;
}
.icon-ic_unfold_more_white_24dp {
  background-position: -160px -32px;
  width: 32px;
  height: 32px;
}
