
.progress-linear.hide {

}

.progress-linear {

}


.container.shrink {

}

.console.large {

}
.flexcard {
  display: flex;
  flex-direction: column;
}
body {
  background: #ddd;
}
.items .btn {
  margin: 0;
  border: none;
}


/* Enter and leave animations can use different */
/* durations and timing functions.              */
.slide-enter-active {
  transition: all .2s ease;
  transition-delay: .2s;
}
.slide-leave-active {
  transition: all .2s ease-out;
}
.slide-enter, .slide-leave-to
/* .slide-fade-leave-active below version 2.1.8 */ {
  transform: translateX(800px);
  opacity: 0;
  height:0;
  padding: 0;
}

.card-swap-enter-active {
  transition: all .2s ease;
  transition-delay: .2s;
}
.card-swap-leave-active {
  transition: all .2s ease-out;
}
.card-swap-enter, .card-swap-leave-to
/* .card-swap-fade-leave-active below version 2.1.8 */ {
  transform: translateX(-800px);
  height: 0;
  opacity: 0;
}

.v-btn, .v-btn::before, .v-btn::after {
  -webkit-transition: none !important;
   -moz-transition: none !important;
   -o-transition: none !important;
   transition: none !important;
   transition-timing-function: step-end !important;
}


svg {
  width: 24px;
  height: 24px;
}
